::-webkit-scrollbar {
    display: none;
  }
  
  ::-webkit-scrollbar-button {
    display: none;
  }
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* overflow-x: hidden; 
    overflow-y: auto; */
    cursor: url("..//Images/cursor.png"), pointer;
    -ms-overflow-style:none;
}
.backgroundImg {
    background: url('..//Images/mainBackground.png') no-repeat center center fixed; 
    background-size: cover; 
}
.secondBackground {
    background-color: whitesmoke;  
    width: 50%;
    margin-left: 25%;
    height: 100%;
    top: 0;
}
.playButton {
    width: 100%;
    height: 130%;

    background-color: #ffdc75;

    border: solid black 5px;
    border-radius: 10px;

    font-size: 4vw;
    font-weight: bold;
    font-family: "Courier New";
}
.playButton:hover {
    background-color: #edc553;
    cursor: url("..//Images/tap.png"), pointer;
    
}
.playButton:active {
    background-color: #e2b73d;
}
.main {
    width: 100%;
    z-index: -1;
}
.gameSpace {
    margin-top: 3%;

    background: rgba(78, 124, 24, 70%);
    /* background: rgba(255, 255, 255, 50%); */
    
    /* border: solid #98c663 50px;
    border-top: solid #98c663 80px; */

    width: 800px;
    height: 840px;
}
.gameScore {
    font-size: 2.5vw;
    font-weight: bold;

    margin:0px; 
    margin-left: 50px;
    margin-top: 20px;
    font-family: "Courier New";
}
#finalScore {
    margin: 0px;
    margin-top: 10px;
    text-align: center;
    font-size: 11.5vw;
    font-weight: bold;
    color: #0074D9;
}
.result h3 {
    text-align: center;
    font-size: 4.5vw;
    margin: 0;
    margin-top: 0.5%;
}
#snakeGame {
    margin-top: 10px;
    margin-left: 50px;

    position: relative;
}
.navBarStructure {
    margin-top: 4%;
    height: 100px;
    /* opacity: 0.5; */
}
.mainNavBar {
    background-color: white;
    border-top: solid black 5px;
    border-bottom: solid black 5px;
    padding: 0px;

}
.mainNavBar.highscore {
    border-left: solid black 5px;
    padding-left: 10px;
    font-family: "Courier New";
    font-weight: bolder;
    font-size: 2vw;
}
.mainNavBar.highscore a {
    text-decoration: none;
    color: black;
}
/* .mainNavBar.highscore img {
    height: 45px;
    width: 45px;
} */
.mainNavBar.logout {
    border-right: solid black 5px;
    margin: 0;
    padding: 0;

    font-family: "Courier New";
    font-weight: bold;
    font-size: 2vw;
}
.mainNavBar .profile a{
    text-decoration: none;
    color: black;
}
.mainNavBar .profile .devider {
    width: 2px; 
    height: 80%; 
    background-color: #7f7f7f; 
    right: 0; 
    position: absolute; 
}
.mainNavBar .profile:hover {
    background-color: #e2e2e2;
}
.mainNavBar .logoutButton img {
    height: 40px;
    width: 40px;
}
.mainNavBar .logoutButton:hover {
    background-color: #e2e2e2;
}

footer {
    margin-top: 3%;
    margin-left: 24.61%;
    height: 70px;
    background-color: #7c7c7c;
    width: 50.78%;
}
.popupWindow {
    width:50%;
    height: 70%;

    z-index: 1;
    position: absolute;;

    background-color: white;
    border: solid black 10px;
    border-radius: 10px;
    margin-top: -40%;
    margin-left: 25%;

    display: none;
}
.popupWindow .result {
    margin-top : 7%;
    float: left;
    width: 65%;
    height: 80%;
    border-right: solid #808080 4px;
}
.popupWindow .replayButton {
    width: 60%;
    height: 15%;

    margin-left: 20%;
    margin-top: -2%;
    background-color: grey;
    /* border: solid black 5px; */
    border-radius: 10px;

    font-size: 2vw;
    font-weight: bold;
    color: #232323;
}  
.result p {
    margin-top: 5%;
    font-size: 1vw;
    text-align: center;
}
.popupWindow .exhighScore {
    margin-top: 7%;
    width: 35%;
    height: 80%;
    float: right;
}
.popupWindow .exhighScore p {
    margin-top: -5%;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
}
.popupWindow .exhighScore img {
    width: 25%;
    height: auto;
    margin-left: 37.5%;
}
.leaders h3 {
    font-size: 1.3vw;
    color: black;
    margin-bottom: 4px;

    text-align: center;
}
.leaders h4 {
    font-size: 1.3vw;
    color: red;

    text-align: center;
}




