html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; 
    overflow-y: auto;
    cursor: url("cursor.png"), pointer;
}
.backgroundImg {
    background: url('mainBackground.png') no-repeat center center fixed; 
    background-size: cover; 
}
.playButton {
    width: 100%;
    height: 130%;

    background-color: #ffdc75;

    border: solid black 5px;
    border-radius: 10px;

    font-size: 350%;
    font-weight: bold;
    font-family: "Courier New";
}
.playButton:hover {
    background-color: #edc553;
    cursor: url("tap.png"), pointer;
    
}
.playButton:active {
    background-color: #e2b73d;
}
.gameSpace {
    /* margin-left:25%;
    margin-top: 3%;
    width: 50%;
    height: 73%; */

    background: rgb(171, 222, 113);
    border: solid #98c663 52.5px;
    border-top: solid #98c663 92.5px;
    height: 845px;
}
.navBarStructure {
    margin-top: 4%;
    height: 8%;
    /* opacity: 0.5; */
}
.mainNavBar {
    background-color: white;
    border-top: solid black 5px;
    border-bottom: solid black 5px;
}
.mainnavBar.play {
    padding: 0;
}
.mainNavBar.highscore {
    border-left: solid black 5px;
    padding-left: 10px;
    font-family: "Courier New";
    font-weight: bold;
    font-size: 180%;
}
.mainNavBar.highscore a {
    text-decoration: none;
    color: black;
}
/* .mainNavBar.highscore img {
    height: 45px;
    width: 45px;
} */
.mainNavBar.logout {
    border-right: solid black 5px;
    margin: 0;
    padding: 0;

    font-family: "Courier New";
    font-weight: bold;
    font-size: 180%;
}
.mainNavBar .profile a{
    text-decoration: none;
    color: black;
}
.mainNavBar .profile .devider {
    width: 2px; 
    height: 80%; 
    background-color: #7f7f7f; 
    right: 0; 
    position: absolute; 
}
.mainNavBar .profile:hover {
    background-color: #e2e2e2;
}
.mainNavBar .logoutButton img {
    height: 40px;
    width: 40px;
}
.mainNavBar .logoutButton:hover {
    background-color: #e2e2e2;
}



