body {
	top: 0px;
	left: 0px;
}
.bb{
		background-color: rgb(154,267,208);
}
.h1-fontsize{
	font-size: 20px;
}
.table1{
	margin: 50px, 50px, 50px,50px;
}
.game-menu{
	font-size: 15px;
}
.button1 {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #07c3ec;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button1:hover {background-color: #1880bc}

.button2:hover {background-color: #840a64}

.button1:active {
  background-color: #1880bc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button2:active {
  background-color: #840a64;
  box-shadow: 0 5px #666;
  transform: translateY(4px); 
}
.box{
	padding-left: 20px;
	padding-right: 20px;
	width: 500px;
}
.box2{
	margin: 20px;
}
.button2{
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #e764d5;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
input {
	width: 250px;
	margin: 50px;
}